# shoutout to @jjjermiah for the Poetry crash course
[tool.poetry]
name = "med-imagetools"
packages = [{ include = "imgtools", from = "src" }]
version = "1.5.0"
description = "Med-Imagetools: Transparent and Reproducible Medical Image Processing Pipelines in Python"
authors = ["Sejin Kim, Benjamin Haibe-Kains"]
license = "GPL-3.0"
readme = "README.md"

[tool.poetry.group.dev]
optional = true

[tool.poetry.dependencies]
python = ">=3.10,<4"
h5py = "^3.11.0"
joblib = "^1.4.2"
numpy = "^1.26.4"
matplotlib = "^3.8.4"
pandas = "^2.2.2"
pydicom = "^2.4.4"
pynrrd = "^1.0.0"
scikit-image = "^0.23.2"
scikit-learn = "^1.4.2"
simpleitk = "^2.3.1"
tqdm = "^4.66.4"
pyyaml = "^6.0.1"
dill = "^0.3.8"
attrs = "^23.2.0"

[tool.poetry.scripts]
autopipeline = "imgtools.autopipeline:main"
betapipeline = "imgtools.autopipeline_refactored:main"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.0"
ruff = "^0.4.4"
pytest-cov = ">=4.0.0"
python-semantic-release = "^9.8.0"

[tool.poetry.extras]
torch = ["torch", "torchio"]
debug = ["pyvis"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variables = ["setup.py:__version__"]
version_toml = ["pyproject.toml:tool.poetry.version"]
upload_to_release = true
remove_dist = false
commit_message = "chore(sem-ver): {version}"
patch_without_tag = true

[tool.semantic_release.branches.main]
match = "(main|master)"
